@font-face {
    font-family: hanalei;
    src: url(HanaleiFill-Regular.ttf);
  }
h1{
 font-family: hanalei;

}
body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.Color-name{
    color: orange ;
}
h1:hover{
    letter-spacing: 3px;
}


.tilte-name{
    color:rgba(149, 0, 149, 0.7);
    text-align: center;
    background-color: slategray;
    background-image: linear-gradient(180deg, white, rgb(223, 249, 255));
    padding: 10px 20px;
    margin: 0% 30%;
    margin-bottom: 50px;
    border-radius: 30px;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 50px;
}
a:hover{
    letter-spacing: 1px;
}
.ancon1{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(45deg, rgb(79, 220, 255), rgb(36, 113, 255));
    border-radius: 5px;
    padding: 10px 20px;
}
.mid-banner{
    background-image:url("images/dream-bg.png");
    background-position: right;
    background-repeat: no-repeat;
}
.ancon2{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(45deg, rgb(172, 128, 255), rgb(98, 0, 255));
    border-radius: 5px;
    padding: 10px 20px;
}
.half-width-sing-exp{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 80%;
    background-color: white;
}
.exp-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.Stack-name{
    color:rgb(172, 128, 255) ;
}
#first{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(98, 0, 255), rgb(226, 131, 255) );
    border-image-slice: 10%;
}
#last{
    background-image:url("images/top-banner3.png");
    background-position: 55%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 10%;
}
footer p{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(36, 113, 255);
}